@font-face {
    font-family: NatoSans;
    src: url("../fonts/NotoSans-Regular.ttf");
}
.become-an-age-insider {
    padding: 100px 125px;
    margin: 0;

    background-image: url("../images/bg-insider-signup-desk.webp");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: right;

}
.become-an-age-insider *:not(h3) {
    font-family: NatoSans, serif;
}
.become-an-age-insider>.text {
    background-blend-mode: overlay;
    background-image: url(../images/menu-dropdown-overlay.webp),linear-gradient(#394766,#181c29);
    width: 40vw;
    padding: 30px;
    font-size: 22px;
}
.become-an-age-insider h3 {
    margin: 10px 0;
    font-size: xx-large;
}
.become-an-age-insider p,.become-an-age-insider li>span {
    color: #c7c7c7;
}
.become-an-age-insider button {
    font-size: large;
    padding: 10px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 30px 0;
}
.become-an-age-insider a {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #53dbdd;
    font-size: smaller;
}
.become-an-age-insider a:hover {
    filter: brightness(1.5);
}
.become-an-age-insider li:not(:last-child) {
    margin-bottom: 20px;
}