:root {
    --past-streams-offset: 0;
}
body {
    background-color: #181c29;
}
section.twitch-stream {
    width: 75vw;
    padding: 10vh 12.5vw;

    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    gap: 20px;
}

section.twitch-stream>h2 {
    margin: 0;
}

section.twitch-stream>.item-title-stream {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
}
section.twitch-stream>.item-stream {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;
}
section.twitch-stream>.item-title-past-streams {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
}
section.twitch-stream>.item-past-streams {
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;

    width: 24vw;
    height: 100%;
    position: relative;
}
.item-past-streams>.carousel-right {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    cursor: pointer;
}
.item-past-streams>.goto-slide {
    bottom: unset;
    top: calc(100% - 15px);
}
.item-past-streams .lock-view {
    width: 100%;
    height: 100%;
    clip-path: inset(0);
}

.item-past-streams>.carousel-left {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    cursor: pointer;
}

section.twitch-stream>.item-past-streams .slides {
    position: absolute;
    transition: left .5s;
    left: calc((-100%)*var(--past-streams-offset));
    top: 0;
    height: fit-content;
    display: flex;
}
section.twitch-stream>.item-past-streams .slides img {
    width: 24vw;
    aspect-ratio: 427 / 240;
}
section.twitch-stream>.bottom-item {
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 4;
    grid-column-end: 4;
}
.bottom-item img {
    width: 100%;
    object-fit: cover;
}