/* body */
body {
    margin: 0;
    font-family: maiola,serif;
    background-color: black;
    color: white;
}

/* top bar */
.top-bar{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

/* title section */
.top-bar section.title{
    padding: 9px 40px;

    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 80px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;
}
.top-bar section.title .action-icons {
    font-size: 25px;
    gap: 30px;
    display: flex;
}
.top-bar section.title .action-icons i {
    background: rgb(169,109,33);
    background: linear-gradient(142deg, rgba(169,109,33,1) 0%, rgba(255,220,96,1) 50%, rgba(169,109,33,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* navs */
.top-bar section.navs {
    border-width: 1px 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,rgba(184,134,45,0),#b8862d,#ffdf91,#b8862d,rgba(184,134,45,0));
    border-style: solid;

    position: relative;
    width: calc(100% - 160px);

    padding: 0 80px;

    background: -webkit-gradient(linear,left top,right top,from(#181c29),color-stop(40%,#394766),to(#181c29));
    background: -webkit-linear-gradient(left,#181c29,#394766 40%,#181c29);
    background: -o-linear-gradient(left,#181c29,#394766 40%,#181c29);
    background: linear-gradient(90deg,#181c29,#394766 40%,#181c29);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* direct hyperlink in bar */
.top-bar section.navs > a {
    transition: color .1s;
    color: #ffdf91;

    text-decoration: none;
    font-size: large;
}
.top-bar section.navs > a:hover {
    color: white;
}

/* direct hyperlink in dropdowns */
.nav-container > a {
    transition: color .1s;
    color: #ffdf91;

    text-decoration: none;
}
.nav-container:hover > a {
    color: white;
}

/* hyperlink inside dropdown */
.dropdown li>a {
    transition: color .1s;
    color: #ffdf91;

    text-decoration: none;
}
.dropdown li:hover>a {
    color: white;
}

/* title of the dropdown */
.dropdown-title {
    margin: 0;

    font-weight: normal;
    color: #ffdf91;
}

/* align navbar horizontally */
.top-bar section.navs > .dropdowns {
    display: flex;
}
/* nav part styling */
.nav-container {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;

    cursor:  pointer;
}
.nav-container:hover {
    background: rgb(6,147,227);
    background: linear-gradient(90deg, rgba(6,147,227,0) 0%, rgba(6,147,227,0.25) 15%, rgba(6,147,227,0.25) 85%, rgba(6,147,227,0) 100%);
}

/* pointer resize */
.dropdown-pointer {
    height: 15px;
}
.dropdown-pointer-right {
    position: absolute;
    right: 15px;
}

/* games dropdown */

*>.dropdown-games {
    background-image: url(images/menu-dropdown-woosh.webp),url(images/menu-dropdown-overlay.webp),linear-gradient(180deg,#16668b,#003456) !important;
    background-size: auto 100%,256px,auto !important;
    background-blend-mode: normal,overlay,overlay !important;
    width: fit-content !important;
    padding: 20px 0 !important;
}
*:hover>.dropdown-games {
    display: flex !important;
}
.dropdown-games-logo {
    width: max(12vw, 100px);
    transition: filter .25s;
    filter: brightness(0.9);
}
*:hover>.dropdown-games-logo {
    filter: brightness(1);
}

/* dropdown base styling */
*>.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;

    display: none;

    background-blend-mode: overlay;
    background-size: 256px,100%;
    background-image: url(images/menu-dropdown-overlay.webp),linear-gradient(180deg,#394766,#181c29);

    -webkit-box-shadow: 10px 10px 57px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -8px rgba(0,0,0,0.75);

    width: 230px;
    cursor: auto;
}
.dropdown-parent {
    position: relative;
}
.dropdown-right {
    top: 0;
    left: 100%;
}
*:hover>.dropdown {
    display: block;
}

/* dropdown item styling */
.dropdown>* {
    color: #ffdf91;
    transition: color .1s;
    text-transform: uppercase;
    padding: 10px 20px;

    cursor: pointer;
}
.dropdown:not(.dropdown-games)>*:hover {
    color: white;
    background: rgb(6,147,227);
    background: linear-gradient(90deg, rgba(6,147,227,0) 0%, rgba(6,147,227,0.25) 15%, rgba(6,147,227,0.25) 85%, rgba(6,147,227,0) 100%);
}

/* cookie styling */
.cookies {
    font-family: Segoe UI, SegoeUI, Arial, sans-serif;

    position: fixed;
    bottom: 0;
    padding: 10px;

    background-color: #F2F2F2;
    color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cookies > div {
    max-width: 50%;
}
.cookies > .info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cookies > .info a {
    color: #0067B8;
}
.cookies > .actions {
    display: flex;
    gap: 10px;
}
.cookies > .actions button {
    background-color: #EBEBEB;
    color: black;
    padding: 10px;
    width: 150px;

    border: none;
    transition: box-shadow .1s, color .1s;
}
.cookies > .actions button:hover {
    box-shadow: 0 0 15px #aaa;
    background-color: #d9d9d9;
}
.pointer {
    cursor: pointer;
}